<div class="col-md-8 blog-main">
  <h3 class="pb-3 mb-4 font-italic border-bottom">
    rn Blog
  </h3>
  <% if logged_in?(:site_admin) %>
    <p>
      <%= link_to 'Write a new blog', new_blog_path %>
    </p>
  <% end %>
  <%= render @blogs %>

  <nav class="blog-pagination">
    <a class="btn btn-outline-primary" href="#">Older</a>
    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
  </nav>
</div>


