<main role="main" class="inner cover">
    <div class="row">
        <div class="col-sm-4">
            <%= image_tag "rob2.jpg", alt: "Profile Image", class: "img-thumbnail" %>
        </div>
        <div class="col-sm-8">
            <h1 class="cover-heading">about me.</h1>
            <hr/>
            <p class="lead about-description">Self-starter with knowledge of multiple programming languages and frameworks; passionate about applying learned technologies and analytical skills to produce robust web applications. A motivated problem solver with an aptitude for debugging and error resolution.</p>
        </div>
    
    </div>
</main>