<main role="main" class="inner cover">
    <h1 class="cover-heading">Contact.</h1>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <h3>location.</h3>
            <p class="lead">
                Irvine, CA
            </p>
            <h3>phone.</h3>
            <p class="lead">
                <%= number_to_phone 7144229054 %>
            </p>
            <h3>email.</h3>
            <a href="mailto:robert.nhu.nguyen@gmail.com?subject=Hello">
                robert.nhu.nguyen@gmail.com
            </a>
        </div>
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13279.658478503283!2d-117.84136773986957!3d33.685274910199794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcdd0e689140e3%3A0xa77ab575604a9a39!2sIrvine%2C+CA!5e0!3m2!1sen!2sus!4v1539837830643" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    
</main>