<main role="main" class="inner cover">
    <h1 class="cover-heading">rn.</h1>
    <p class="lead">combining deep understanding of human behavior + interaction with technology.</p>
    <p class="lead">
        <%= link_to 'about me', about_me_path, class: 'btn btn-lg btn-secondary btn-sm home-btn' %>
    </p>
</main>